@font-face {
  font-family: "Norse-Bold";
  src: url("Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --left-width: min(40vw, 800px);
}

* {
  --border-width: 0px;
  margin: 0;
  padding: 0;
  border: solid var(--border-width) red;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  height: calc(100vh - 4*var(--border-width));
  width: calc(100vw - 4*var(--border-width));
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--left-width);
  background-image: url("../image/halie-west.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  /* position: relative; */
}

.odin-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(100% - 2rem);
  height: 200px;
  background-color: rgb(0, 0, 0, .5);
  position: relative;
  top: -20vh;
  padding: 1rem;
}

.odin-image {
  height: 160px;
  width: auto;
}

.odin-text {
  font-family: "Norse-Bold";
  font-size: 7rem;
  position: relative;
  top: 16px;
}

.image-footer {
  position: fixed;
  bottom: 20px;
}

.odin-link {
  text-decoration: underline;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-grow: 1;
  background-color: rgb(249, 250, 251);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.subcontainer1 {
  width: 80%;
  padding-left: 5%;
}

.top-text {
  font-size: min(1.6rem, 6vw);
  font-weight: 500;
  margin-bottom: 2%;
  /* position: relative;
  top: -50px; */
}

.form-container {
  display: flex;
  flex-direction: column;
  /* height: 30%; ******/
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  /* position: relative; */
  /* top: -50px; */
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main-form {
  display: flex;
  width: min(calc(100vw - var(--left-width)), 1000px);
  /* width: max(60%, 600px); */
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

label {
  font-size: .8rem;
  letter-spacing: 1px;
}

.form-input {
  flex: 49%;
  padding-bottom: 2vh;
  /* padding-right: 10px; */
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  width: min(20vw, 250px);
  height: 30px;
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

input:focus {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#error-message {
  color: red;
  font-size: .8rem;
}

button {
  width: 15rem;
  margin-top: 30px;
  margin-left: 5%;
  margin-bottom: 35px;
  padding: 15px 30px;
  background-color: #596D48;
  color: white;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, .2);
  border-radius: 10px;
  font-size: 1.2rem;
}

.account-text {
  margin-left: 5%;
  font-size: 1.2rem;
}

.log-in {
  color: #596D48;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  *{
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  body {
    flex-direction: column;
    height: auto;
  }

  .left-container {
    flex-direction: column;
    height: 30vh;
    width: 100vw;
  }


  .odin-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 25vh;
    background-color: rgb(0, 0, 0, .5);
    top: 0;
    padding: 0;
  }

  .odin-image {
    height: 20vh;
  }

  .odin-text {
    font-family: "Norse-Bold";
    font-size: 15vh;
    position: relative;
    top: 0vh;
  }

  .image-footer {
    position: relative;
    text-align: center;
    bottom: -3vh;
    font-size: .7rem;
    background-color: rgb(0, 0, 0, .5);
    width: 100vw;
  }
  
  .right-container {
    display: flex;
    align-items: center;
  }

  .subcontainer1 {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 1rem;
    width: 70vw;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 30%; ******/
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
  }
  
  .top-text {
    width: 70vw;
    margin: 5% 0;
  }

  .main-form {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  input {
    width: 70vw;
    padding-left: 0;
  }

  .subcontainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    margin: 10% 0;
  }

  .account-text{
    margin: 0;
  }

}
